## Imports

In [1]:
from utils.prepare_data import prepare_short_data, prepare_full_data

## Constants

In [2]:
df = prepare_full_data('data/Data_RU.xlsx')
df.head()

C:\Users\snipercapt\Desktop\PAAI\final\utils\prepare_data.py:43: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name+'_D3'] = (df[col_name+'_high']-df[col_name+'_open'])/df[col_name+'_open']
C:\Users\snipercapt\Desktop\PAAI\final\utils\prepare_data.py:44: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name+'_D4'] = (df[col_name+'_open']-df[col_name+'_low'])/df[col_name+'_low']
C:\Users\snipercapt\Desktop\PAAI\final\utils\prepare_data.py:41: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name+'_D1'] = (df[col_name+'_open']-df[col_name+'_close'].shift(periods=-1))/df[col_name+'_close'].shift(periods=-1)
C:\Users\snipercapt\Desktop\PAAI\final\utils\prepare_data.py:42: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col_name+'_D2'] = (df[col_name+'_close']-df[col_name+'_open'])/df[col_name+'_open']

,AFKS_close,AFLT_close,AGRO_close,AKRN_close,ALRS_close,AMEZ_close,APTK_close,AQUA_close,BANEP_close,BELU_close,...,VSMO_D3,VSMO_D4,VTBR_D1,VTBR_D2,VTBR_D3,VTBR_D4,YNDX_D1,YNDX_D2,YNDX_D3,YNDX_D4
1,12.350,140.4,570.0,3930.0,75.81,4.82,8.65,140.5,1357.0,651.0,...,0.004135,0.000000,-0.054346,0.045848,0.045848,0.002330,-0.029828,0.012767,0.015894,0.002089
2,12.385,148.9,565.0,3994.0,77.00,4.75,8.59,152.0,1364.5,649.0,...,0.018746,0.000000,-0.013944,0.011111,0.015556,0.007941,0.000257,0.018013,0.021616,0.000000
3,12.390,147.3,562.5,3985.0,76.90,4.77,8.59,155.0,1368.5,NaN,...,0.013986,0.000583,-0.010236,-0.001591,0.000000,0.015552,0.001528,-0.011953,0.000000,0.023425
4,12.715,150.5,566.5,3982.0,76.79,4.80,8.50,162.0,1390.0,635.0,...,0.005764,0.003470,-0.002376,0.008137,0.029371,0.001391,-0.007353,0.002810,0.012516,0.001791
5,12.700,149.3,570.0,3995.0,76.70,4.88,8.40,160.0,1444.0,636.0,...,0.004028,0.001729,0.009901,-0.009608,0.005882,0.011905,0.000000,0.004585,0.008660,0.016309

In [6]:
from environment import Environment

In [7]:
env = Environment(data=df, stock_name='AFKS', initial_money=1000)